@import "colors";
@import "typography";
@import "applicationLayout";

html, body {
  margin: 20px;
}
.siteTop{
padding-top: 60px;
}
.siteBody{
  padding-left: 10%;

  a:link {
    text-decoration: none;
    color: $second-color;
    display: inline-block;
    color: black;
  }
  a:visited {
    color: black;
  }
  a:hover{
    font-size: 110%;
  }
}

.tableRow{
  padding: 15px;
  color: red;
}
