<div class="siteBody siteTop">
  <div class="header">
    <div class="new-link">

        {{#link-to 'distributors.new'}}
          New Distributor
        {{/link-to}}

    </div>
    <h3>Distributors</h3>
  </div>
  <hr>

  {{#each distributor in model}}
    <div class="tableRow">
      {{#link-to 'distributor' distributor}}
        {{distributor.name}}
      {{/link-to}}
    </div>

  {{/each}}
</div>

{{outlet}}
